*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background: #F7F6F0;
}
header h2{
    background: #444444;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 4px;
}
header p{
    font-size: 3rem;
    text-align: center;
    margin-top: 5px;
    font-weight: none;
}
section{
    display: flex;
    justify-content: center;
}
form{
    flex-basis: 20%;
    font-size: 2rem;
    padding-top: 10px;
}
.nav{
    text-align: center;
}
.nav a button{
    font-size: 2rem;
    margin-top: 5%;
    background: #297E96;
    padding: 12px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer; 
    color: white;
    margin: 50px 7px ;
    border: none;
}